<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/fragment}">
    <head>
        <title>Approval Produk</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
       <div layout:fragment="sidebar">
            <th:block th:replace="fragments/navbar::navbar-admin"></th:block>
        </div>


        <div layout:fragment="content">
            <div class="card ml-3 mt-5 shadow">
                <div class="card-body">
                    <h1 class="text-center">Produk</h1>
                </div>
            </div>
        </div>
    </body>
</html>
