<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/fragment}">
    <head>
        <title>Edit Produk</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div layout:fragment="sidebar">
            <th:block th:replace="fragments/navbar::navbar-admin"></th:block>
        </div>

        <div layout:fragment="content">
            <div class="card ml-3 mt-5 shadow">
                <div class="card-body">
                    <h1 class="text-center">Edit Produk</h1>
                 
                    <form  
                          th:action="@{/product/updateproduct/{id} (id=${produk.idProduk})}"
                          method="POST"
                          id="addproduk"
                          enctype="multipart/form-data">

                        <div class="form-group">
                            <label for="nama_produk" class="col-form-label">Nama Produk</label>
                            <input type="text" 
                                   class="form-control" 
                                   id="nama_produk" 
                                   name="nama_produk"
                                   th:value="${produk.nama}"
                                   placeholder="Masukan Nama"
                                   required=""/>
                        </div>

                        <div class="form-group">
                            <label for="harga_jual" class="">Harga Jual</label>

                            <input type="number" 
                                   class="form-control" 
                                   id="harga_jual" 
                                   name="harga_jual"
                                   th:value="${produk.hargaJual}"
                                   placeholder="Masukan Harga Jual"
                                   required=""/>
                        </div>

                        <div class="form-group">
                            <label for="harga_awal" class="">Harga Awal</label>
                            <input type="number" 
                                   class="form-control" 
                                   id="harga_awal" 
                                   name="harga_awal"
                                   th:value="${produk.hargaAwal}"
                                   placeholder="Masukan Harga Awal"
                                   required=""/>
                        </div>

                        <div class="form-group">
                            <label for="stok" class="">Stok</label>
                            <input type="number" 
                                   class="form-control" 
                                   id="stok" 
                                   name="stok"
                                   th:value="${produk.stok}"
                                   placeholder="Masukan Stok"
                                   min="0"
                                   required=""
                                   oninput="this.value = Math.abs(this.value)"/>
                        </div>


                        <div class="form-group">
                            <label for="kategori" 
                                   class="col-form-label">Kategori : </label>
                               <select class="form-control" name="kategori" required=""> 
                                <option value="" disabled="" selected="">--Pilih Kategori--</option>
                                <option th:each="k:${kategori}"
                                        th:value="${k.id}"
                                        th:text="${k.namaKategori}"
                                        th:selected="${produk.kategoriId.id}"
                                        ></option>
                            </select>
                        </div>

                        <div class="form-group">
                            <label for="pemasok" 
                                   class="col-form-label">Pemasok : </label>
                            <select class="form-control" name="pemasok"  required=""> 
                                <option value="" disabled="" selected="">--Pilih Pemasok--</option>
                                <option th:each="p:${pemasok}"
                                        th:value="${p.idPemasok}"
                                        th:text="${p.nama}"
                                        th:selected="${produk.pemasokId.idPemasok}"
                                       ></option>
                            </select>
                        </div>

                        <img 
                            width="300"
                            height="200"
                            th:src="@{'/product/' + ${produk.idProduk} + '/' + ${produk.gambar} }"/>

                        <div class="form-group">
                            <label for="gambar_produk" 
                                   class="col-form-label">Gambar Produk : </label>
                            <input type="file" 
                                   class="form-control"
                                   name="gambar_produk" 
                                   required=""
                                   accept="image/png, image/jpeg"
                                   />
                        </div>
                        <div class="float-right mt-4">
                            <a
                                class="btn btn-secondary"
                                th:href='@{/products}'
                                >Close</a>
                            <button type="submit" 
                                    class="btn btn-primary"
                                    id="submit-form"
                                    >
                                Simpan</button> 
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </body>
</html>
