<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/fragment}">
    <head>
        <title>Produk</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div layout:fragment="sidebar">
            <th:block th:replace="fragments/navbar::navbar-admin"></th:block>
        </div>


        <div layout:fragment="content">
            <div class="card ml-3 mt-5 shadow">
                <div class="card-body">

                    <nav >
                        <div class="nav nav-tabs" id="nav-tab" role="tablist">
                            <a 
                                sec:authorize="hasRole('KEPALAGUDANG')"
                                class="nav-item nav-link " 
                                id="nav-home-tab" 
                                data-toggle="tab" 
                                href="#produk-konfirmasi" 
                                role="tab" 
                                aria-controls="produk-konfirmasi" 
                                aria-selected="true">Konfirmasi Produk</a>
                            <a class="nav-item nav-link" 
                               id="nav-home-tab" 
                               data-toggle="tab" 
                               href="#produk" 
                               role="tab" 
                               aria-controls="nav-home" 
                               aria-selected="false">Produk</a>
                            <a class="nav-item nav-link" 
                               id="nav-profile-tab" 
                               data-toggle="tab" 
                               href="#nav-profile" 
                               role="tab" 
                               aria-controls="nav-profile" 
                               aria-selected="false">Produk di tolak</a>
                            <a class="nav-item nav-link" 
                               id="nav-contact-tab" 
                               data-toggle="tab" 
                               href="#nav-contact" 
                               role="tab" 
                               aria-controls="nav-contact" 
                               aria-selected="false">Produk habis</a>
                        </div>
                    </nav>
                    <div class="tab-content" id="nav-tabContent" >
                        <div class="tab-pane fade show active" sec:authorize="hasRole('KEPALAGUDANG')" id="produk-konfirmasi" role="tabpanel" aria-labelledby="produk-konfirmasi-tab" >
                            <h1 class="text-center mt-3">Konfirmasi Produk</h1>
                            <table class="table table-striped mt-4">
                                <thead>
                                    <tr>
                                        <th scope="col" class="text-center">No</th>
                                        <th scope="col"class="text-center">Nama</th>
                                        <th scope="col" class="text-center">Harga Jual</th>
                                        <th scope="col" class="text-center">Harga Awal</th>
                                        <th scope="col" class="text-center">Stok</th>
                                        <th scope="col" class="text-center">Kategori</th>
                                        <th scope="col" class="text-center">Pemasok</th>
                                        <th scope="col" class="text-center">Aksi</th>
                                    </tr>
                                </thead>
                                <tbody>

                                    <tr  th:each=" accp, count :${accproducts}" >
                                        <td class="text-center" th:text="${count.count}"></td>
                                        <td class="text-center" th:text="${accp.nama}"></td>
                                        <td class="text-center" th:text="${accp.hargaJual}"></td>
                                        <td class="text-center" th:text="${accp.hargaAwal}"></td>
                                        <td class="text-center" th:text="${accp.stok}"></td>
                                        <td class="text-center" th:text="${accp.kategoriId.namaKategori}"></td>
                                        <td class="text-center" th:text="${accp.pemasokId.nama}"></td>
                                        <td class="text-center">
                                            <a th:href="@{/kepalagudang/product/{id}?status=2 (id=${accp.idProduk})}" class="btn btn-success">
                                                <i class="fa fa-check text-light" aria-hidden="true"></i>
                                            </a>
                                            <a th:href="@{/kepalagudang/product/reject/{id}?status=3 (id=${accp.idProduk})}" class="btn btn-danger">
                                                <i class="fa fa-times text-light" aria-hidden="true"></i>
                                            </a>
                                        </td>
                                    </tr>

                                </tbody>
                            </table>
                        </div>



                        <div class="tab-pane fade  " 
                             id="produk" 
                             role="tabpanel" 
                             aria-labelledby="nav-home-tab">
                            <h1 class="text-center mt-3">Daftar Produk</h1>
                            <a  th:href="@{/product/add-product}"  class="btn btn-primary ml-4"
                                >

                                Tambah Produk
                            </a>

                            <table class="table table-striped mt-4">
                                <thead>
                                    <tr>
                                        <th scope="col">No</th>
                                        <th scope="col">Nama</th>
                                        <th scope="col">Harga Jual</th>
                                        <th scope="col">Harga Awal</th>
                                        <th scope="col">Stok</th>
                                        <th scope="col">Kategori</th>
                                        <th scope="col">Pemasok</th>
                                        <th scope="col">Aksi</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr th:each="p, no:${produk}">
                                        <td th:text="${no.count}"></td>
                                        <td th:text="${p.nama}"></td>
                                        <td th:text="${p.hargaJual}"></td>
                                        <td th:text="${p.hargaAwal}"></td>
                                        <td th:text="${p.stok}"></td>
                                        <td th:text="${p.kategoriId.namaKategori}"></td>
                                        <td th:text="${p.pemasokId.nama}"></td>
                                        <td>
                                            <a 
                                                class="btn btn-warning edit-form"
                                                th:href="@{/product/edit-product/{id} (id=${p.idProduk})}"
                                                >
                                                <i class="fa fa-pencil text-light" ></i>
                                            </a>

                                            <a class="btn btn-danger delete-confirm"
                                               th:data-id ="${p.idProduk}"
                                               >
                                                <i class="fa fa-trash text-light" ></i>
                                            </a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
                            <th:block th:replace="product/rejected-product::rejected_product"></th:block>
                        </div>
                        <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">
                            <th:block th:replace="product/stokOfProduct::stok_product"></th:block>
                        </div>
                    </div>

                </div>
            </div>



        </div>


    <th:block layout:fragment="optional" >
        <script th:inline="javascript">

            var htmldata = [[${success}]];

            if (htmldata) {

                Swal.fire(
                        'Good job!',
                        htmldata,
                        'success'
                        )
            }
            $(document).ready(function () {
                $('.view-form').on("click", function () {
                    let id = $(this).attr('data-id');
                    $.get("/product/getOneProduct/" + id, function (data) {
                        $('#nama_produk').val(data.nama);
                        $('#harga_jual').val(data.hargaJual);
                        $('#harga_awal').val(data.hargaAwal);
                        $('#stok').val(data.stok);
                        $('#kategori').val(data.kategoriId.id);

                    })
                });
                $('.delete-confirm').on("click", function () {
                    let id = $(this).attr('data-id');
                    Swal.fire({
                        icon: 'warning',
                        title: 'Are you Sure!',
                        text: 'Do you want delete this Supplier?',
                        showCancelButton: true,
                        showCloseButton: true,
                        confirmButtonText: 'Ok',
                        cancelButtonText: 'Cancel'
                    }).then((confirm) => {
                       if(confirm.value){
                         window.location = `/produk/delete/${id}`;
                       }
                    });
                });
            });
        </script>
    </th:block>
</body>
</html>
