<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/fragment}">
    <head>
        <title>Dashboard</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div layout:fragment="sidebar">
            <th:block th:replace="fragments/navbar::navbar-admin"></th:block>
        </div>

        <div layout:fragment="content">
            <div class="row">
                <div class="col-md-3">
                    <div class="card ml-3 mt-5 shadow">
                        <div class="card-body" style="border-left: 5px solid green;">
                            <h4 class="text-center" th:text=" ${profit}"></h4>
                            <h2 class="text-center text-secondary">Laba</h2>

                        </div>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="card ml-3 mt-5 shadow">
                        <div class="card-body " style="border-left: 5px solid #dc3545;">
                            <h4 class="text-center" th:text="${produk}"></h4>
                            <h2 class="text-center text-secondary">Produk</h2>

                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card ml-3 mt-5 shadow ">
                        <div class="card-body" style="border-left: 5px solid yellow">
                            <h4 class="text-center" th:text="${pelanggan}"></h4>
                            <h2 class="text-center text-secondary">Pelanggan</h2>
                        </div>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="card ml-3 mt-5 shadow">
                        <div class="card-body" style="border-left: 5px solid blue;">
                            <h4 class="text-center" th:text="${pemasok}"></h4>
                            <h2 class="text-center text-secondary">Pemasok</h2>

                        </div>
                    </div>
                </div>


            </div>
            <div class="container mt-10" sec:authorize="hasAnyRole('KEUANGAN', 'PEMILIK')">
                <div class="col-md-12">
                    <div class="row">
                        <div id="line-cart" style="width:100%; height:400px;"></div>
                    </div>
                </div>
            </div>
            
            <div class="container mt-10" sec:authorize="hasAnyRole('ADMIN', 'KEPALAGUDANG')">
                <div class="col-md-12">
                    <div class="row">
                        <div id="line-cart" style="width:100%; height:400px; display: none;"></div>
                    </div>
                </div>
            </div>



        </div>
    <th:block layout:fragment="optional" >
        <script th:inline="javascript">
            var bulan = [[${
                bulan
            }
            ]];
            var laba = [[${laba}
            ]];
            var year = new Date();
            year = year.getFullYear();
        

           
                document.addEventListener('DOMContentLoaded', function () {
                    const chart = Highcharts.chart('line-cart', {
                        chart: {
                            type: 'line'
                        },
                        title: {
                            text: 'Laba tahun ini'
                        },
                        xAxis: {
                            categories: bulan
                        },
                        yAxis: {
                            title: {
                                text: ''
                            },
                            labels: {

                                enabled: false
                            }
                        },
                        series: [
                            {
                                name: 'Tahun ' + year,
                                data: laba
                            }
                        ]
                    });
                });
            
        </script>
    </th:block>
</body>
</html>
